---
import BaseLayout from '../layouts/BaseLayout.astro';



const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---
<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <script src="../components/colorscheme.js"></script>
  <script src="../components/timeline-item.js"></script>
  <script src="../components/BackToTopButton.js"></script>
  <div class="container" style="text-align: justify;">
    <a href="#"></a>
    <h1>Su di me</h1>
    
<section class="timeline">
  <ul>
    <li>
      <div>
        <time>2015</time> <a href="https://www.liceofermi.edu.it/">Diploma</a>
      </div>
    </li>
    <li>
      <div>
        <time>2018</time> <a href="http://www.poliba.it/">Laurea</a> 
      </div>
    </li>
    <li>
      <div>
        <time>04/2022</time> <a href="https://wwww.polimi.it/">Laurea</a>
      </div>
    </li>
    <li>
      <div>
        <time>07/2022</time> Progettista Jr </br> <a href="https://www.italferr.it/">Italferr</a>
      </div>
    </li>
   </ul>
</section>
    
    
    
    
    <p>Da quanto ricordi, ho sempre guardato alle cose e al mondo con curiosità febbrile, cercando di capire le forze invisibili che muovevano l'auto di mio padre, riscaldavano casa e facevano suonare lo stereo di mia madre. Sono nato il 7 Novembre 1996, a Bari.
      <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/fededrae/clbzer49s003e14s1uqq9upu9.html?title=false&access_token=pk.eyJ1IjoiZmVkZWRyYWUiLCJhIjoiY2xiemVpOXpmMGpuYjNxcDh3c2NvMGFpYSJ9.XggZD0_lph646k25aYVJfA&zoomwheel=false#11.69/41.1297/16.8642" title="Navigation" style="border:none;"></iframe>
    <br> Durante gli anni di <a href="https://www.liceofermi.edu.it/" target="_blank">Liceo Scientifico</a> ho avuto la fortuna di conoscere buoni amici, che frequento ancora oggi non appena ne ho la possibilità, vivendo ormai a Roma. Ma andiamo con ordine.
    <br> Ho passato la mia adolescenza come tanti coetanei prima e dopo di me, e cioè facendomi crescere i capelli, imparando a suonare la chitarra e suonando qua e là nei locali della mia città.
    <div style="text-align:center;">
      <img src="/assets/gplaying.png">
      <p style="font-size: smaller">Troppo tardi, qui i capelli li avevo già tagliati</p>
    </div>
    </p>
    <p>
    Dopo la maturità, nel 2015 mi iscrissi alla facoltà di <a href="https://orientami.poliba.it/ingegneria-civile-e-ambientale-poliba/">Ingegneria Civile e Ambientale</a>. Gli anni al Politecnico di Bari sono stati pregni di fatica, sudore, di un impegno puro e costante, che non mi avrebbe comunque portato a niente se non fosse stato per gli amici che ho conosciuto, o mi ci avrebbe portato, al pezzo di carta, ma con molta meno consapevolezza di cosa voglia dire vivere l'università, e non solo frequentarla. Non avrei sicuramente scoperto la magia strana delle aule vuote e silenziose delle 20:00 di sera, del lavoro di squadra, delle risate - vitali e contagiose - fra una lezione e l'altra, fra una pausa e l'altra, durante il pranzo, e a volte anche durante la cena, sempre tutti insieme.
    <div style="text-align:center;">
      <img src="/assets/gteam.jpg">
      <p style="font-size: smaller">Stavamo preparando l'esame di Elettrotecnica</p>
    </div>
    </p>
  
  <p>
    Dopo essermi laureato, nel 2018, ed aver ottenuto il Cambridge English Certificate in ESOL International <a href="https://www.cambridgeenglish.org/">(First)</a>, sono partito per <a href="https://www.polimi.it/">Milano</a>. 

    
  </p>

  </div>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }



/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 250px;
  background: rgb(144, 144, 144);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 600px;
  padding: 15px;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}



.timeline ul li:nth-child(even) div {
  left: -170px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: rgb(137,187,193);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */






/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


</style>
