---
import BaseLayout from '../layouts/BaseLayout.astro';



const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <script src="../components/colorscheme.js"></script>
  <script src="../components/timeline-item.js"></script>
  <script src="../components/BackToTopButton.js"></script>
  <div class="container" style="text-align: justify;">
    <a href="#"></a>
    <h1>Su di me</h1>
    
<section class="timeline">
  <ul>
    <li>
      <div>
        <time>2015</time> Diploma </br> Liceo Scientifico Fermi, Bari
      </div>
    </li>
    <li>
      <div>
        <time>2018</time> Laurea </br> Politecnico, Bari
      </div>
    </li>
    <li>
      <div>
        <time>04/2022</time> Laurea Magistrale </br> Politecnico, Milano
      </div>
    </li>
    <li>
      <div>
        <time>07/2022</time> Progettista Jr </br> Ferrovie dello Stato
      </div>
    </li>
   </ul>
</section>
    
    
    
    
    <p>Da quanto ricordi, ho sempre guardato alle cose e al mondo con curiosità febbrile, cercando di capire le forze invisibili che muovevano l'auto di mio padre, riscaldavano casa e facevano suonare lo stereo di mia madre. Sono nato il 7 Novembre 1996, a Bari.
      <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/fededrae/clbzer49s003e14s1uqq9upu9.html?title=false&access_token=pk.eyJ1IjoiZmVkZWRyYWUiLCJhIjoiY2xiemVpOXpmMGpuYjNxcDh3c2NvMGFpYSJ9.XggZD0_lph646k25aYVJfA&zoomwheel=false#11.69/41.1297/16.8642" title="Navigation" style="border:none;"></iframe>
    <br> Durante gli anni di <a href="https://www.liceofermi.edu.it/" target="_blank">Liceo Scientifico</a> ho avuto la fortuna di conoscere buoni amici, che frequento ancora oggi non appena ne ho la possibilità, vivendo ormai a Roma. Ma andiamo con ordine.
    <br> Ho passato la mia adolescenza come tanti coetanei prima e dopo di me, e cioè facendomi crescere i capelli, imparando a suonare la chitarra e suonando qua e là nei locali della mia città.
    <div style="text-align:center;">
      <img src="/assets/gplaying.png">
      <p style="font-size: smaller">Troppo tardi, qui i capelli li avevo già tagliati</p>
    </div>
    </p>
    <p>
    Dopo la maturità, nel 2015 mi iscrissi alla facoltà di <a href="https://orientami.poliba.it/ingegneria-civile-e-ambientale-poliba/">Ingegneria Civile e Ambientale</a>. Gli anni al Politecnico di Bari sono stati pregni di fatica, sudore, di un impegno puro e costante, che non mi avrebbe comunque portato a niente se non fosse stato per gli amici che ho conosciuto, o mi ci avrebbe portato, al pezzo di carta, ma con molta meno consapevolezza di cosa voglia dire vivere l'università, e non solo frequentarla. Non avrei sicuramente scoperto la magia strana delle aule vuote e silenziose delle 20:00 di sera, del lavoro di squadra, delle risate - vitali e contagiose - fra una lezione e l'altra, fra una pausa e l'altra, durante il pranzo, e a volte anche durante la cena, sempre tutti insieme.
    <div style="text-align:center;">
      <img src="/assets/gteam.jpg">
      <p style="font-size: smaller">Stavamo preparando l'esame di Elettrotecnica</p>
    </div>
    </p>
  
  <p>
    Dopo essermi laureato, nel 2018, ed aver ottenuto il Cambridge English Certificate in ESOL International <a href="https://www.cambridgeenglish.org/">(First)</a>, sono partito per <a href="https://www.polimi.it/">Milano</a>. 

    
  </p>

  </div>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }



/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(144, 144, 144);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: r;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}



.timeline ul li:nth-child(even) div {
  left: -280px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: rgb(137,187,193);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */






/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
:root {
  --background-body: #fff;
  --text-main: #36393b;
  --text-secondary: #6b6f72;
  --primary-color: #548e9b;
  --font-family-serif: Merriweather, serif;
  --font-family-sans: 'Fira Sans', sans-serif;
}

:root.theme-dark {
  --background-body: #202122;
  --text-main: #fff;
  --text-secondary: #ccc;
  --primary-color: #548e9b;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-serif);
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-body);
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 4em;
  margin: 0 0 1em 0;
}

h2 {
  margin: 1.6em 0 0 0;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p,
ul,
ol {
  font-size: 1.3rem;
  line-height: 1.75em;
  margin: 1.2em 0;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li {
  margin: 1rem 0;
}

li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

a {
  color: inherit;
  transition: color linear 0.15s;
}

a:hover {
  color: var(--primary-color);
}

p a {
  text-decoration: none;
  box-shadow: inset 0 -0.12em 0 var(--primary-color);
  -webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

p a:hover {
  box-shadow: inset 0 -1.5em 0 var(--primary-color);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  padding: 0;
  border: 0;
  height: 10px;
  margin: 40px auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='10'  viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-miterlimit='10'%3e%3cpath fill='none' d='M0 0h20v10H0z'/%3e%3cclipPath id='a'%3e%3cpath d='M0 0h20v10H0z'/%3e%3c/clipPath%3e%3cg clip-path='url(%23a)'%3e%3cpath d='M20 7.384c-4.999-.001-5-4.768-9.999-4.768C5 2.616 5 7.384 0 7.384' fill='none' stroke-width='3' stroke='%23548E9B'/%3e%3c/g%3e%3c/svg%3e");
}

code {
  font-family: 'SF Mono', menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
  padding: 1.2em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}


figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

table {
  border-collapse: collapse;
  font-family: var(--font-family-sans);
  font-size: 1.125em;
  margin: 2em 0;
}

th {
  border-bottom: 2px solid #cccccc;
  padding: 0.4em 0.8em;
}

td {
  padding: 0.4em 0.8em;
}

.container {
  margin: 0 auto;
  max-width: 42em;
  width: 100%;
}

.content h1 {
  font-size: 3em;
  margin: 1em 0;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0.33em 0.67em;
  padding-top: 8px;
  margin-left: 10px;
  gap: 0.6em;
  border-radius: 99em;
  background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 0.08em var(--theme-accent), 0 0 0 0.12em white;
}

.theme-toggle > label {
  color: var(--theme-code-inline-text);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.theme-toggle .checked {
  color: var(--theme-accent);
  opacity: 1;
}

input[name='theme-toggle'] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 3em;
  }

  .content h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  p,
  ul,
  ol {
    font-size: 1.2rem;
    margin: 1em 0;
  }
}

</style>
